<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
   <title>xti</title>
</head>
<body>
   <div class="mailContainer" style="width: 100%; background-color: #f2f2f2;box-sizing: border-box;padding: 1px;">
      <div class="bodyContainer" style="width: 95%;margin: 30px auto;background-color: #feffef;box-sizing: border-box;padding: 1px;border:15px solid #FFF">
         <img src="http://xtistoremexico.com/assets/ID_xti.png" alt="logo" style="width:150px; display: block;margin: 30px auto;">
         <p style="color:#b1b0b0;text-align: center;font-size: 1.2rem; margin: 3px auto;">Hola <strong>{{name}}</strong></p>
         <p style="color:#b1b0b0;text-align: center;font-size: 1.2rem; margin: 3px auto;">Imprime este correo y preséntalo en</p>
         <p style="color:#b1b0b0;text-align: center;font-size: 1.2rem; margin: 3px auto;">nuestra sucursal, para obtener un</p>
         <p style="color:#b1b0b0;text-align: center;font-size: 1.2rem; margin: 3px auto;"><strong>20% de descuento</strong> en tu compra.</p>
         <h2 style="color:#b1b0b0;text-align: center;font-size: 2.4rem; margin: 3px auto;">¡Hazlo por ti, hazlo Xti!</h2>
         <img src="http://xtistoremexico.com/assets/img_01.jpg" alt="mujer" style="width: 100%;">
      </div>

      <p style="width: 90%; margin:5px auto;font-size: 1rem;color:#b1b0b0;text-align: justify;">
         20% de descuento en tu compra: Oferta valida en tiendas <strong>Xti de la  República Mexicana.</strong>
         Hasta agotar existencias dentro del plazo de descuento u oferta. Únicamente artículos seleccionados. No aplica para compras anteriores. No aplica con otras 
         ofertas ni descuentos, ni aplica con el descuento de empleados
      </p>

      <a href="https://www.facebook.com/xtistore/?locale2=es_LA" target="__blank" style="display: block;margin: 0 auto;width: 40px;">
         <img src="http://xtistoremexico.com/assets/facebook.png" alt="facebook"/>
      </a>
   </div>
</body>
</html>